body {
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}